{% extends "base.html" %} 
{% block content %} 
<div class="container">
  <div class="front-page-container">
    <img src="{{ url_for('views.themes', path='img/assassin-logo1.png') }}" style="width:350px; height:200px" alt="some image" />
    <h1 class="display-4">Shadow of the Creed</h1>
    <p class="lead"> Presented by Wl&WL</p>
    <div class="separator"></div>
    <p class="front-page-details">
      Nothing is true. Everything has a vulnerability.
    </p>
    <a href="/challenges" target="_blank" rel="noopener noreferrer" class="begin btn btn-primary btn-lg">Begin Your Quest!</a>
  </div>
  <div class="container text-center" style="margin-top:20px;font-size:18px;">
    <a href="https://github.com/dev-sire" class="text-primary" style="color: #13151a;text-decoration:none;">
      <small style="color: #ffff;"> {% trans %}Designed & Implemented by: <span style="text-decoration:underline;">Aman Shahid</span>{% endtrans %} </small> 
    </a>
  </div>
</div> 
{% endblock %} 

{% block scripts %}
{{ Assets.js("assets/js/page.js") }} 
{% endblock %}